<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css?app=skills">
  <link rel="stylesheet" href="/css/application.css?app=skills">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="/js/bootstrap.min.js"></script>

  <title></title>
</head>
<body>

  <nav>

    <div class="brand"><a href="/">Party Boy</a></div>

    <ul>
      <% if current_person %>
        <li><a id="sign-out" href="/sessions/<%= current_person.id %>">Sign Out</a></li>
      <% else %>
        <li><a href="/sessions/new">Sign In</a></li>
        <li><a href="/people/new">Sign Up</a></li>
      <% end %>
    </ul>

  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
